html {
    background-image: url('/src/img/mountains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Space Mono', monospace;
}

header {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.img_thumb {
    height: 200px;
    width: 200px;
}



.albums {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    flex-wrap: wrap;
}

.indAlbums {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.song-list {
    display: flex;
    color: white;
    flex-direction: column;
}

.single_title, .albumComments {
    color: white;
}

.singleAlbumPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.songs {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    font-size: x-large;
    flex-direction: column;
    margin-top: 15px;
    max-width: 60%;
}

button{
    max-width: 150px;
}

input {
    max-width: 400px;
}

.comments, .albumComments {
    display: flex;
    background-color: black;
    border-radius: 5px;
}



